### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data_df["SN"].value_counts())

In [3]:
players_df = pd.DataFrame({"Total Players": [total_players]})
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
Unique_Items = len(purchase_data_df["Item Name"].value_counts())

In [5]:
average_price = (purchase_data_df["Price"].mean())

In [6]:
number_purchased =len(purchase_data_df["Purchase ID"].value_counts())

In [7]:
total_revenue = (purchase_data_df["Price"].sum())

In [8]:
purchasing_analysis_df=pd.DataFrame([{"Number of Unique Items": Unique_Items, 
                                     "Average Price": average_price,
                                      "Number of Purchases":number_purchased,
                                      "Total Revenue":  total_revenue
                                    }])
purchasing_analysis_df["Average Price"]=purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"]=purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gender = purchase_data_df.drop_duplicates(subset="SN") 
gender.count()

gendercounts_df= pd.DataFrame(gender["Gender"].value_counts())
gendercounts_df.head()


gender_percentage = gendercounts_df["Gender"]/576 *100

gendercounts_df["Percentage of Players"]=gender_percentage
gendercounts_df.head()

                       Gender  Percentage of Players
Male                      484              84.027778
Female                     81              14.062500
Other / Non-Disclosed      11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
new_df = purchase_data_df.groupby(["Gender"])

In [11]:
new_df["Purchase ID"].count().head()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [12]:
gender_price = new_df["Price"].mean()
gender_price.head()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [13]:
value_total = new_df["Price"].sum()
value_total.head()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [14]:
per_person = value_total/new_df["Purchase ID"].count()
per_person.head()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [15]:
#newnew_df = pd.DataFrame([{"Purchase Count": purch_count
 #                   "Average Purchase Price": gender_price,
  #                           "Total Purchase Value": value_total,
   #                           "Average Total per Person": per_person}])
#newnew_df.head()   
gender_purchased_data_df = pd.DataFrame(new_df["Purchase ID"].count())
gender_purchased_data_df["Average Purchase Price"] = gender_price
gender_purchased_data_df["Total Purchase Value"] = value_total
gender_purchased_data_df["Average Total Per Person"] = per_person
gender_purchased_data_df

,Purchase ID,Average Purchase Price,Total Purchase Value,Average Total Per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
bins = [0, 9, 14, 19, 24,29,34,39,100]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]

pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [17]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [18]:
age = purchase_data_df.drop_duplicates(subset="SN") 
age.count()

agecounts_df= pd.DataFrame(age["Age Group"].value_counts())

agecounts_df.head()

#df = purchase_data_df.set_index("Age Group")

#df.head()
# Find how many rows fall into each bin
#print(age_group["Purchase ID"].count()) reset_index, set_index

# Get the average of each column within the GroupBy object

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Group,,,,,,,
20-24,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
40+,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
20-24,2,Ithergue48,24,Male,92,Final Critic,4.88
20-24,3,Chamassasya86,24,Male,100,Blindscythe,3.27
20-24,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
age_group_df = purchase_data_df.groupby("Age Group")
age_group_df["Purchase ID"].count().head()

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
Name: Purchase ID, dtype: int64

In [24]:
price=age_group[["Price"]].mean()

In [25]:
tots=age_group[["Price"]].sum()

In [36]:
price_df=pd.DataFrame(age_group_df[["Purchase ID"]].count())
price_df["Average Purchase Price"] = price
price_df["Total Purchase Value"] =  tots
#price_df["Average Total Per Person"] =  
price_df

           Purchase ID  Average Purchase Price  Total Purchase Value
Age Group
<10                 23                3.353478                 77.13
10-14               28                2.956429                 82.78
15-19              136                3.035956                412.89
20-24              365                3.052219               1114.06
25-29              101                2.900990                293.00
30-34               73                2.931507                214.00
35-39               41                3.601707                147.67
40+                 13                2.941538                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
spender_df=purchase_data_df.groupby(["SN"])
spender_df.count()

#sorted by SN new dataframe
top5_df = pd.DataFrame(spender_df["Purchase ID"].count())
top5_df

# Get Total purchase value by SN
total_purchase_value_SN = spender_df["Price"].sum()
total_purchase_value_SN

# Get Average purchase price by SN
avg_purchase_price_SN = spender_df["Price"].mean()
avg_purchase_price_SN


# Organize summary Top Spender data, get all columns to organized Data Frame, add needed columns to it
top5_df["Average Purchase Price"] = avg_purchase_price_SN
top5_df["Total Purchase Value"] = total_purchase_value_SN 
top5_df

# Summary Top Spendor analysis grouped by SN, rename "Purchase ID" column, using .rename(columns={})
SUM_SN_purchased_data_df = top5_df.rename(columns={"Purchase ID":"Purchase Count"})
TOP5_spenders_df=SUM_SN_purchased_data_df.sort_values("Total Purchase Value", ascending=False)
TOP5_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
top_item_df = purchase_data_df.groupby(["Item ID", "Item Name"])
top_item_df.count()

# Let's work with data sorted by Item new dataframe
by_ITEM_df = pd.DataFrame(top_item_df["Purchase ID"].count())
by_ITEM_df

# Get Total purchase value by Item
total_purchase_value_ITEM = top_item_df["Price"].sum()
total_purchase_value_ITEM

# Get purchase price by Item
purchase_price_ITEM = top_item_df["Price"].mean()
purchase_price_ITEM
# Organize summary Item data, get all columns to organized Data Frame, add needed columns to it
by_ITEM_df["Item Price"] = purchase_price_ITEM
by_ITEM_df["Total Purchase Value"] = total_purchase_value_ITEM
by_ITEM_df

# Summary Most Popular Item analysis grouped by Item, rename "Purchase ID" column, using .rename(columns={})
SUM_ITEM_purchased_data_df = by_ITEM_df.rename(columns={"Purchase ID":"Purchase Count"})
TOP5_ITEMS_df=SUM_ITEM_purchased_data_df.sort_values("Purchase Count", ascending=False)
TOP5_ITEMS_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [58]:
SUM_ITEM_purchased_data_df["Total Purchase Value"] = top_item_df["Price"].sum()
SUM_ITEM_purchased_data_df

# Summary Most Popular Item analysis grouped by Item, rename "Purchase ID" column, using .rename(columns={})
TOP5_ITEMS_df=SUM_ITEM_purchased_data_df.sort_values("Total Purchase Value", ascending=False)

# Format Total Purchase Price to be in dollar form
dlr_total_purchase_value_ITEM = total_purchase_value_ITEM.map("${:,.2f}".format)
TOP5_ITEMS_df["Total Purchase Value"] = dlr_total_purchase_value_ITEM
TOP5_ITEMS_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,$50.76
82,Nirvana,9,4.900000,$44.10
145,Fiery Glass Crusader,9,4.580000,$41.22
103,Singed Scalpel,8,4.350000,$34.80